{% extends "book_outlet/base.html" %}

{% block title %}
    All Books
{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{ book.rating }})</li>
        {% endfor %}
    </ul>

    <hr>

    <p>Total number of books: {{ total_num_books }}</p>
    <p>Average rating: {{ avg_rating.rating__avg }}</p>
{% endblock %}